.product-cotainer[_ngcontent-ng-c2488302704] {
  margin-top: 60px;
}

.page-container {
    text-align: center;
    padding: 20px;
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
  }
  
  .landing-page {
    /* background-image:url('/assets/image/homeC.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* width: 100%; */
    min-height: 100vh;
    padding: 50px;
  }


  .text-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .btn-primary{
    background-color: #30a5ee;
    margin-top: 10px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
  }

  .btn-primary:hover {
    background-color: #0896ee;
  }

  /* .card-text{
    text-align: justify;
  } */
  
  .product-list,
  .category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
  }
  
  .product,
  .category {
    background-color: #fff;
    padding: 20px;
    width: 45%;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .product h3,
  .category h3 {
    font-size: 24px;
    margin-top: 0;
  }

    .grid-cont{
      width: 100%;
      display: grid;
      grid:  1fr 1fr 1fr 1fr;
      grid-auto-flow: row;
      justify-content: center;
      align-items: center;
      margin: auto;
      grid-gap: 50px;
    }

    @media (min-width: 768px) {
      .grid-cont {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      }
    }
    
    @media (max-width: 767px) {
      .grid-cont {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        width: 80%;
      }
    }
  
  .product p {
    font-size: 16px;
  }
  
  .product button,
  .category button {
    margin-top: 20px;
  }
  
  .newsletter {
    background-color: #fff;
    padding: 30px;
    text-align: center;
  }
  
  .newsletter h2 {
    margin-top: 0;
  }
  
  .newsletter form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .newsletter input[type="email"] {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .newsletter button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
  
  /* Media Queries */
  @media only screen and (max-width: 768px) {
    .product,
    .category {
      width: 100%;
    }
  }
 
  