<div class="product-cotainer">
    <!-- Featured Products -->
    <div class="container mt-4 ">
        <h2 class="text-center">Featured Products</h2>
        <div class="row ">

            <div class="grid-cont">
                <div class="card col-lr-1">
                    <img src="https://rukminim2.flixcart.com/image/312/312/xif0q/mobile/i/s/b/-original-imagrdefh2xgenzz.jpeg?q=70"
                        class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h3 class="card-title">Nothing Phone</h3>
                        <p class="card-text">1 Year Warranty
                            8 GB RAM | 256 GB ROM
                            16.64 cm (6.55 inch) Full HD+ Display</p>
                        <a class="btn btn-primary" routerLink="/signup">Add to Cart</a>
                    </div>
                </div>
                <div class="card col-lr-1">
                    <img src="https://rukminim2.flixcart.com/image/312/312/xif0q/mobile/i/s/b/-original-imagrdefh2xgenzz.jpeg?q=70"
                        class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h3 class="card-title">Nothing Phone</h3>
                        <p class="card-text">1 Year Warranty
                            8 GB RAM | 256 GB ROM
                            16.64 cm (6.55 inch) Full HD+ Display</p>
                        <a class="btn btn-primary" routerLink="/signup">Add to Cart</a>
                    </div>
                </div>
                <div class="card col-lr-1">
                    <img src="https://rukminim2.flixcart.com/image/312/312/xif0q/mobile/i/s/b/-original-imagrdefh2xgenzz.jpeg?q=70"
                        class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h3 class="card-title">Nothing Phone</h3>
                        <p class="card-text">1 Year Warranty
                            8 GB RAM | 256 GB ROM
                            16.64 cm (6.55 inch) Full HD+ Display</p>
                        <a class="btn btn-primary" routerLink="/signup">Add to Cart</a>
                    </div>
                </div>
                <div class="card col-lr-1">
                    <img src="https://rukminim2.flixcart.com/image/312/312/xif0q/mobile/i/s/b/-original-imagrdefh2xgenzz.jpeg?q=70"
                        class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h3 class="card-title">Nothing Phone</h3>
                        <p class="card-text">1 Year Warranty
                            8 GB RAM | 256 GB ROM
                            16.64 cm (6.55 inch) Full HD+ Display</p>
                        <a class="btn btn-primary" routerLink="/signup">Add to Cart</a>
                    </div>
                </div>
                <div class="card col-lr-1">
                    <img src="https://rukminim2.flixcart.com/image/312/312/xif0q/mobile/i/s/b/-original-imagrdefh2xgenzz.jpeg?q=70"
                        class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h3 class="card-title">Nothing Phone</h3>
                        <p class="card-text">1 Year Warranty
                            8 GB RAM | 256 GB ROM
                            16.64 cm (6.55 inch) Full HD+ Display</p>
                        <a class="btn btn-primary" routerLink="/signup">Add to Cart</a>
                    </div>
                </div>
                <div class="card col-lr-1">
                    <img src="https://rukminim2.flixcart.com/image/312/312/xif0q/mobile/i/s/b/-original-imagrdefh2xgenzz.jpeg?q=70"
                        class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h3 class="card-title">Nothing Phone</h3>
                        <p class="card-text">1 Year Warranty
                            8 GB RAM | 256 GB ROM
                            16.64 cm (6.55 inch) Full HD+ Display</p>
                        <a class="btn btn-primary" routerLink="/signup">Add to Cart</a>
                    </div>
                </div>
                <div class="card col-lr-1">
                    <img src="https://rukminim2.flixcart.com/image/312/312/xif0q/mobile/i/s/b/-original-imagrdefh2xgenzz.jpeg?q=70"
                        class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h3 class="card-title">Nothing Phone</h3>
                        <p class="card-text">1 Year Warranty
                            8 GB RAM | 256 GB ROM
                            16.64 cm (6.55 inch) Full HD+ Display</p>
                        <a class="btn btn-primary" routerLink="/signup">Add to Cart</a>
                    </div>
                </div>
                <div class="card col-lr-1">
                    <img src="https://rukminim2.flixcart.com/image/312/312/xif0q/mobile/i/s/b/-original-imagrdefh2xgenzz.jpeg?q=70"
                        class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h3 class="card-title">Nothing Phone</h3>
                        <p class="card-text">1 Year Warranty
                            8 GB RAM | 256 GB ROM
                            16.64 cm (6.55 inch) Full HD+ Display</p>
                        <a class="btn btn-primary" routerLink="/signup">Add to Cart</a>
                    </div>
                </div>
                <div class="card col-lr-1">
                    <img src="https://rukminim2.flixcart.com/image/312/312/xif0q/mobile/i/s/b/-original-imagrdefh2xgenzz.jpeg?q=70"
                        class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h3 class="card-title">Nothing Phone</h3>
                        <p class="card-text">1 Year Warranty
                            8 GB RAM | 256 GB ROM
                            16.64 cm (6.55 inch) Full HD+ Display</p>
                        <a class="btn btn-primary" routerLink="/signup">Add to Cart</a>
                    </div>
                </div>
                <div class="card col-lr-1">
                    <img src="https://rukminim2.flixcart.com/image/312/312/xif0q/mobile/i/s/b/-original-imagrdefh2xgenzz.jpeg?q=70"
                        class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h3 class="card-title">Nothing Phone</h3>
                        <p class="card-text">1 Year Warranty
                            8 GB RAM | 256 GB ROM
                            16.64 cm (6.55 inch) Full HD+ Display</p>
                        <a class="btn btn-primary" routerLink="/signup">Add to Cart</a>
                    </div>
                </div>

            </div>


        </div>
    </div>

    <!-- Categories -->
    <div class="container mt-5">
        <h2 class="text-center">Shop by Category</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="category1.jpg" class="card-img-top" alt="Category 1">
                    <div class="card-body">
                        <h3 class="card-title">Smart Watch</h3>
                        <a class="btn btn-primary" routerLink="/signup">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="category2.jpg" class=" card-img-top" alt="Category 2">
                    <div class="card-body">
                        <h3 class="card-title">Smart Phone</h3>
                        <a class="btn btn-primary" routerLink="/signup">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="category3.jpg" class="card-img-top" alt="Category 3">
                    <div class="card-body">
                        <h3 class="card-title">Smart Speaker</h3>
                        <a class="btn btn-primary" routerLink="/signup">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>