<div class="page-container">
    <div class="landing-page text-center">
        <h1>Welcome to our Gadget Zone</h1>
        <p>Shop the latest trends in electronics, and more!</p>
        <a class="btn btn-primary" routerLink="/signup">Shop Now</a>
    </div>

    <!-- Featured Products -->
    <div class="product-cotainer">
        <!-- Featured Products -->
        <div class="container mt-4 ">
            <h2 class="text-center">Featured Products</h2>
            <div class="row ">

                <div class="grid-cont">

                    <div class="card col-lr-1">
                        <img src="/assets/pro-imgs/OnePlus 11 5G.jpg" class="card-img-top zoom-in" alt="Product 1">
                        <div class="card-body">
                            <h3 class="card-title">OnePlus 11 5G</h3>
                            <p class="card-text">1 Year Warranty <br>
                                8 GB RAM | 256 GB ROM <br>
                                16.64 cm (6.55 inch) Full HD+ Display</p>
                            <h4 class="card-price">$899</h4>
                            <a class="btn btn-primary" routerLink="/signup">Add to Cart</a>
                        </div>
                    </div>
                    <div class="card col-lr-1">
                        <img src="/assets/pro-imgs/OnePlus Nord CE 3 5G.jpg" class="card-img-top zoom-in"
                            alt="Product 1">
                        <div class="card-body">
                            <h3 class="card-title">OnePlus Nord CE 3 5G</h3>
                            <p class="card-text">1 Year Warranty <br>
                                8 GB RAM | 256 GB ROM <br>
                                16.64 cm (6.55 inch) Full HD+ Display</p>
                            <h4 class="card-price">$899</h4>
                            <a class="btn btn-primary" routerLink="/signup">Add to Cart</a>
                        </div>
                    </div>
                    <div class="card col-lr-1">
                        <img src="/assets/pro-imgs/Realme C12.jpg" class="card-img-top zoom-in" alt="Product 1">
                        <div class="card-body">
                            <h3 class="card-title">Realme C12</h3>
                            <p class="card-text">1 Year Warranty <br>
                                8 GB RAM | 256 GB ROM <br>
                                16.64 cm (6.55 inch) Full HD+ Display</p>
                            <h4 class="card-price">$899</h4>
                            <a class="btn btn-primary" routerLink="/signup">Add to Cart</a>
                        </div>
                    </div>
                    <div class="card col-lr-1">
                        <img src="/assets/pro-imgs/Realme narzo N53.jpg" class="card-img-top zoom-in" alt="Product 1">
                        <div class="card-body">
                            <h3 class="card-title">Realme narzo N53</h3>
                            <p class="card-text">1 Year Warranty <br>
                                8 GB RAM | 256 GB ROM <br>
                                16.64 cm (6.55 inch) Full HD+ Display</p>
                            <h4 class="card-price">$899</h4>
                            <a class="btn btn-primary" routerLink="/signup">Add to Cart</a>
                        </div>
                    </div>
                    <div class="card col-lr-1">
                        <img src="/assets/pro-imgs/Redmi 12 5G Moonstone.jpg" class="card-img-top zoom-in"
                            alt="Product 1">
                        <div class="card-body">
                            <h3 class="card-title">Redmi 12 5G Moonstone</h3>
                            <p class="card-text">1 Year Warranty <br>
                                8 GB RAM | 256 GB ROM <br>
                                16.64 cm (6.55 inch) Full HD+ Display</p>
                            <h4 class="card-price">$899</h4>
                            <a class="btn btn-primary" routerLink="/signup">Add to Cart</a>
                        </div>
                    </div>
                    <div class="card col-lr-1">
                        <img src="/assets/pro-imgs/Iphone.jpg" class="card-img-top zoom-in" alt="Product 1">
                        <div class="card-body">
                            <h3 class="card-title">Iphone</h3>
                            <p class="card-text">1 Year Warranty <br>
                                8 GB RAM | 256 GB ROM <br>
                                16.64 cm (6.55 inch) Full HD+ Display</p>
                            <h4 class="card-price">$899</h4>
                            <a class="btn btn-primary" routerLink="/signup">Add to Cart</a>
                        </div>
                    </div>



                    
                    
                    <!-- Categories -->

                    <h2 class="text-center">Shop by Category</h2>
                    <div class="card col-lr-1">
                        <img src="/assets/pro-imgs/Iphone.jpg" class="card-img-top zoom-in" alt="Product 1">
                        <div class="card-body"><h3 class="card-price">Smart Watch</h3>
                            <a class="btn btn-primary" routerLink="/signup">Shop Now</a>
                        </div>
                    </div>
                    <div class="card col-lr-1">
                        <img src="/assets/pro-imgs/Iphone.jpg" class="card-img-top zoom-in" alt="Product 1">
                        <div class="card-body"><h3 class="card-price">Smart Watch</h3>
                            <a class="btn btn-primary" routerLink="/signup">Shop Now</a>
                        </div>
                    </div>
                    <div class="card col-lr-1">
                        <img src="/assets/pro-imgs/Iphone.jpg" class="card-img-top zoom-in" alt="Product 1">
                        <div class="card-body"><h3 class="card-price">Smart Watch</h3>
                            <a class="btn btn-primary" routerLink="/signup">Shop Now</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Newsletter Subscription -->
<div class="newsletter text-center">
    <h2>Subscribe to our Newsletter</h2>
    <form>
        <input type="email" class="form-control" placeholder="Enter your email address">
        <button class="btn btn-primary">Subscribe</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>