<div class="parent-container">
    <div class="login-container">
      <h2>Forgot Password</h2>
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="center-form">
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input type="password" class="form-control" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>
          <div *ngIf="loginForm.submitted && loginForm.controls['newPassword'].errors" class="error-message">
            <div *ngIf="loginForm.controls['newPassword'].hasError('required')">New Password is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
          <div *ngIf="loginForm.submitted && loginForm.controls['confirmPassword'].errors" class="error-message">
            <div *ngIf="loginForm.controls['confirmPassword'].hasError('required')">Confirm Password is required</div>
          </div>
        </div>
        <div *ngIf="showSuccessMessage; else successMessage" class="success-message">
          Password changed successfully!
        </div>
        <ng-template #successMessage>
          <p class="error-message">{{ errorMessage }}</p>
        </ng-template>
        <button type="submit" class="btn btn-primary">Change</button>
      </form>
      <div class="links">
        <a routerLink="/login">Login Again!</a>
        <a routerLink="/signup">Create an account</a>
      </div>
    </div>
  </div>
  